假設從 2010.01.01 開始，你每個月持續有 USD$1000 資金，

(1) 你都不管它，只放在銀行，到了 2020.01.01 你的財產=?

In [49]:
#假設年利率為 5%  以每月複利一次計算
bank_total=0
for i in range(120):
    bank_total=(bank_total+1000)*(1+(0.05/12))
bank_total

155929.28894335806

(2) 你固定選擇 Apple (AAPL) 公司作為買股票的對象，到了 2020.01.01 你的財產 =?

In [25]:
import requests
import numpy as np
import pandas as pd
url = "https://query1.finance.yahoo.com/v7/finance/download/AAPL?period1=1262304000&period2=1577923200&interval=1mo&events=history&includeAdjustedClose=true"
response = requests.get(url)
table = pd.read_csv(StringIO(response.text),index_col = "Date",parse_dates = ["Date"])
table

                 Open       High        Low      Close  Adj Close       Volume
Date
2010-01-01   7.622500   7.699643   6.794643   6.859286   5.898319  15168994400
2010-02-01   6.870357   7.327500   6.816071   7.307857   6.284047  10776080000
2010-03-01   7.348214   8.481429   7.337500   8.392857   7.217041  12154172800
2010-04-01   8.478929   9.730714   8.312500   9.324643   8.018287  12367129600
2010-05-01   9.422857   9.567143   7.116071   9.174286   7.888996  18082654800
...               ...        ...        ...        ...        ...          ...
2019-09-01  51.607498  56.605000  51.055000  55.992500  55.170628   2170268400
2019-10-01  56.267502  62.437500  53.782501  62.189999  61.277161   2433210800
2019-11-01  62.384998  67.000000  62.290001  66.812500  65.831795   1793326000
2019-12-01  66.817497  73.492500  64.072502  73.412498  72.552094   2388794800
2020-01-01  74.059998  81.962502  73.187500  77.377502  76.470634   2934370400

[121 rows x 6 columns]

In [48]:
stock = 0  
stock_total = 0
for i in table.Close:
    month_buy = 1000 / i  
    stock += month_buy
Close_price = table.Close[-1] 
stock_total = Close_price * stock
stock_total

444574.8362119078